.countriesList {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 15px);
    gap: 15px;
    justify-content: space-around;
}

@media (max-width: 749px) {
    .countriesList {
        display: flex;
        flex-direction: row;
    }
  }