.page-header {
    background-color: rgb(23, 57, 14);
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
}

.page-header .nav-list {
    display: flex;
    justify-content: flex-end;
    gap: 10px 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.page-header .nav-list a {
    color: white;
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.page-header .nav-list a.active {
    text-decoration: underline;
}

.page-header .nav-list a:hover {
    text-decoration: underline;
}