.createCountryBtn {
    font-weight: 600;
    border: solid rgb(23, 57, 14);
    border-radius: 4px ;
    color: white;
    background-color: rgb(23, 57, 14);
    text-decoration: none;
    padding: 5px;
   
}

.createCountryBtn:hover {
    background-color: rgb(35, 90, 19);
}

@media (max-width: 549px) {
.countriesPageTitle {
    font-size: 24px;
}
}