.createParkBtn {
    font-weight: 600;
    border: solid rgb(23, 57, 14);
    border-radius: 4px ;
    color: white;
    background-color: rgb(23, 57, 14);
    text-decoration: none;
    padding: 5px;
   
}

.createParkBtn:hover {
    background-color: rgb(35, 90, 19);
}