body {
    font-family:'Lucida Sans', sans-serif;
    font-size: 100%;
    font-size: 16px;
    line-height: 1.5;
   
}
img {
    width: 100%;
    border-radius: 20px;
}

.homePageTitle {
    color: rgb(31, 77, 19);
}

.cardsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.reasonsWrapper, .parksListWrapper {
    background-color: white;
    border-radius: 20px;
    transition: 0.3s;
    gap: 15px;
    padding: 15px;
}
.parksListWrapper a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.reasonsWrapper:hover{
    box-shadow: 0 4px 20px 0 rgba(34, 68, 123, 0.2);
    cursor: pointer;
}
.parksListWrapper:hover{
    box-shadow: 0 4px 20px 0 rgba(34, 68, 123, 0.2);
    cursor: pointer;
}
.parksListWrapper a:hover{
    color: rgb(23, 57, 14);
    text-decoration: underline;
    cursor: pointer;
    font-weight: 600;
}
.reasonsWrapperTitle, .parksListWrapperTitle {
    font-size: 18px;
    color: rgb(31, 77, 19);
    font-weight: 800;
    
}